@use './variables/colors.scss' as *;
@use './variables/mixins.scss' as *;

.container {
    width: 100%;
    height: auto;
    padding: 0px 24px 24px;

    .header {
        font-size: 24px;
        margin: 0px 0px 24px 16px;
        font-weight: 500;

        &.small {
            font-size: 16px;
            margin: 0px 0px 16px;
        }
    }

    .carousel {
        width: 100%;
        @include flex();
        background-color: $white;
        padding: 32px 18px;

        .btnPrev {
            width: 34px;
            height: 280px;
            margin: 0px 6px 0px 0px;
            @include flex(row, center, center);
            border: 1px solid $gray;
            border-radius: 0.8rem;
            user-select: none;

            img {
                transform: rotate(-90deg);
            }

            &.small {
                height: 108px;
            }

            &.blog {
                height: 330px;
            }

            &:hover {
                cursor: pointer;
                background-color: $grayLight;
            }
        }

        .btnPrevDisabled {
            width: 34px;
            height: 280px;
            margin: 0px 6px 0px 0px;
            @include flex(row, center, center);
            border: 1px solid $gray;
            border-radius: 0.8rem;
            user-select: none;

            img {
                transform: rotate(-90deg);
                filter: invert(96%) sepia(0%) saturate(597%) hue-rotate(184deg) brightness(90%) contrast(82%);
            }

            &.small {
                height: 108px;
            }

            &.blog {
                height: 330px;
            }

            &:hover {
                cursor: not-allowed;
            }
        }

        .btnNext {
            width: 34px;
            height: 280px;
            margin: 0px 0px 0px 6px;
            @include flex(row, center, center);
            border: 1px solid $gray;
            border-radius: 0.8rem;
            user-select: none;

            img {
                transform: rotate(90deg);
            }

            &.small {
                height: 108px;
            }

            &.blog {
                height: 330px;
            }

            &:hover {
                cursor: pointer;
                background-color: $grayLight;
            }
        }

        .btnNextDisabled {
            width: 34px;
            height: 280px;
            margin: 0px 0px 0px 6px;
            @include flex(row, center, center);
            border: 1px solid $gray;
            border-radius: 0.8rem;
            user-select: none;

            img {
                transform: rotate(90deg);
                filter: invert(96%) sepia(0%) saturate(597%) hue-rotate(184deg) brightness(90%) contrast(82%);
            }

            &.small {
                height: 108px;
            }

            &.blog {
                height: 330px;
            }

            &:hover {
                cursor: not-allowed;
            }
        }

        .window {
            width: 100%;
            @include flex();
            overflow: hidden;

            .itemContainer {
                min-width: 25%;
                padding: 0px 6px;
                transition: translate;
                transition-property: transform;
                transition-duration: 300ms;
                transition-timing-function: ease-in-out;

                &.small {
                    min-width: 50%;
                }

                .item {
                    @include flex(column, space-between, center);
                    border: 1px solid $gray;
                    border-radius: 0.8rem;
                    padding: 12px;
                    height: 280px;

                    &.small {
                        height: 108px;
                    }

                    &.blog {
                        padding: 0px;
                        height: 330px;
                        border: none;
                    }

                    .info {
                        @include flex(column, space-between, center);

                        .image {
                            display: flex;
                            align-items: center;

                            img {
                                width: 144px;
                                height: 144px;
                            }

                            &.small {
                                img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }

                            &.blog {
                                img {
                                    width: 100%;
                                    border-radius: 0.8rem;
                                }
                            }
                        }

                        .header {
                            font-size: 14px;
                            font-weight: 600;
                            margin: 8px 0px;
                        }

                        .text {
                            margin-top: 8px;
                            font-size: 14px;
                        }

                        &.small {
                            @include flex(row, space-between, center, 8px);
                            margin-bottom: 4px;

                            .text {
                                margin-top: 0px;
                                font-size: 12px;
                            }
                        }
                    }

                    .actions {
                        width: 100%;
                        height: 48px;
                        @include flex(row, space-between);

                        &.blog {
                            display: none;
                        }

                        .price {
                            @include flex(column, center, center);

                            .priceCurrent {
                                font-size: 24px;
                                font-weight: 700;
                            }
                        }

                        .actionButton {
                            width: 60px;
                            height: 48px;
                            @include flex(row, center, center);
                            background-color: $green;
                            padding: 10px;
                            border-radius: 0.8rem;
                            font-weight: 700;

                            img {
                                margin: 0px 4px;
                                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(104deg);
                            }

                            &.small {
                                width: 60px;
                                height: 40px;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: $orange;
                            }
                        }
                    }
                }
            }
        }
    }
}
