@use './variables/colors.scss' as *;
@use './variables/mixins.scss' as *;

.container {
    width: 100%;
    height: auto;
    padding: 0px 20px;

    .category {
        // @include flex(row, flex-start, center, 6px, 6px, wrap);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 6px;
        grid-row-gap: 6px;

        .categoryItem {
            @include flex(column, flex-start, center);
            height: 600px;
            padding: 24px;
            background-color: $white;

            h2 {
                font-size: 18px;
            }

            ul {
                list-style: none;
                align-self: flex-start;

                li {
                    margin-bottom: 12px;
                    font-size: 14px;
                    color: $blackLight;
                }
            }
        }
    }
}