.headerBanner {
    width: 100%;
    height: 60px;

    &:hover {
        cursor: pointer;
    }
}

.headerTop {
    width: 100%;
    height: 70px;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    background-color: #FFFFFF;

    .leftFlex {
        width: 100%;
        height: 70px;
        flex: 1;
        display: flex;
        align-items: center;

        .logoImg {
            margin: 0px 34px 0px 26px;
        }

        .citySelect {

            &:hover {
                cursor: pointer;
                color: #FF671F;
                filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
            }

            .arrowImg {
                width: 8px;
                height: 12px;
                margin-left: 8px;
                transform: rotate(180deg);
            }
        }
    }

    .rightFlex {
        width: 100%;
        height: 70px;
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 12px;

        .sales {
            padding: 5px 12px;
            border-radius: 1.5rem;
            color: #FFFFFF;
            background-color: #FF0000;

            // :hover {
            //     cursor: pointer;
            // }
            &:hover {
                cursor: pointer;
            }
        }

        .link {
            &:hover {
                color: #FF671F;
                filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
            }

            .arrowImg {
                width: 8px;
                height: 12px;
                margin-left: 8px;
                transform: rotate(180deg);
            }
        }

        .contact {
            position: relative;
            display: inline-block;

            .dropdownBtn2 {
                margin: 0px 20px 0px 20px;
                display: flex;
                align-items: center;
            }

            .dropdownContent {
                min-width: 160px;
                padding: 18px;
                display: none;
                position: absolute;
                background-color: #FFFFFF;
                box-shadow: 0px -4px 14px -3px rgba(0, 0, 0, 0.3);
                border-radius: 0.4rem;
                z-index: 1;
            }

            a {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                &:hover {
                    color: #FF671F;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &:hover .dropdownContent {
                display: block;
            }

            .phoneImg {
                filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
            }

            .arrowImg {
                filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
                transform: rotate(180deg);
            }

            .contactText {
                margin-left: 12px;
                margin-right: 12px;
                color: #FF671F;
            }
        }

        .dropdown {
            position: relative;
            display: inline-block;

            .dropdownContent {
                min-width: 160px;
                padding: 18px;
                display: none;
                position: absolute;
                background-color: #FFFFFF;
                box-shadow: 0px -4px 14px -3px rgba(0, 0, 0, 0.3);
                border-radius: 0.4rem;
                z-index: 1;
            }

            .arrowImg {
                width: 8px;
                height: 12px;
                margin-left: 8px;
                transform: rotate(180deg);
            }

            a {
                display: block;

                &:not(:last-child) {
                    margin-bottom: 12px;
                }

                &:hover {
                    color: #FF671F;
                }
            }


            &:hover .dropdownContent {
                display: block;
            }

            &:hover .dropdownBtn {
                cursor: pointer;
                color: #FF671F;
                filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
            }
        }

        .langContainer {
            width: 50px;
            height: 70px;
            background-color: #F2F2F2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.headerBottom {
    width: 100%;
    height: 56px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    background-color: #43B02A;
    position: relative;

    .catalog {
        display: flex;
        align-items: center;
        background-color: #379424;
        height: 56px;
        padding: 0px 18px 0px 18px;
        width: 300px;

        .catalogImg {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(104deg);
        }

        .arrowImg {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(104deg);
            transform: rotate(180deg);
        }

        .catalogText {
            font-size: 16px;
            font-weight: 500;
            color: #FFFFFF;
            margin-left: 12px;
            flex: 1;
        }

        &:hover + .catalogContent {
            display: flex;  
        }
    }

    .catalogContent {
        display: none;
        position: absolute;
        top: 100%;

        &:hover {
            display: flex;  
            width: calc(100% - 40px);
        }

        .left {
            width: 300px;
            background-color: #FFFFFF;
            padding: 12px;

            

            .leftItem {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 14px;
                }

                .leftText {
                    margin-left: 12px;
                    flex: 1;
                }

                .leftImg {}

                .arrowImg {
                    transform: rotate(90deg);
                }

                &:hover {
                    filter: invert(78%) sepia(35%) saturate(4894%) hue-rotate(60deg);
                    cursor: pointer;
                }
            }

            &:hover + .right {
                display: block;
            }
        }

        .right {
            flex: 1;
            background-color: #FFFFFF;
            display: none;

            &:hover {
                display: block;
            }
        }
    }

    .search {
        padding-left: 18px;
        padding-right: 18px;
        height: 56px;
        flex: 1;
        display: flex;
        align-items: center;

        .input {
            width: 100%;
            height: 38px;
            outline: none;
            border: none;
            border-radius: 0.4rem;
        }
    }

    .login {
        padding: 8px 10px;
        border-radius: 0.4rem;
        margin-right: 19px;
        color: #FFFFFF;
        background-color: #379424;
    }

    .compare {
        padding-left: 18px;
        padding-right: 18px;

        .compareImg {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(104deg);
        }
    }

    .wishlist {
        padding-left: 18px;
        padding-right: 18px;

        .heartImg {
            cursor: pointer;
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(104deg);
        }
    }

    .cart {
        padding-left: 18px;
        padding-right: 18px;
        height: 56px;
        display: flex;
        align-items: center;
        background-color: #379424;

        .cartImg {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(104deg);
        }

        .cartText {
            margin-left: 18px;
            font-size: 16px;
            color: #FFFFFF;
        }
    }
}