@use './variables/colors.scss' as *;
@use './variables/mixins.scss' as *;

.container {
    top:0;
    position: absolute;
    position: fixed;
    width: calc(100vw - 18px);
    height: 100vh;
    z-index: 9;
    background-color:rgba(0, 0, 0, 0.5);
    @include flex(row, center, center);
    // display: none;

    .content {
        width: 50vw;
        height: 40vw;
        background-color: $white;
        border-radius: 0.8rem;
        @include flex(row);

        .imageContainer {
            background-color: $green;
            @include flex(row, center, center);
            padding: 0px 24px;
            border-radius: 0.8rem 0 0 0.8rem;
        }

        .form {
            width: 100%;
            padding: 34px;
            @include flex(column, flex-start);

            .close {
                align-self: flex-end;
                cursor: pointer;
            }

            .label {
                color: $grayDark;
                margin-bottom: 8px;
            }

            .input {
                padding: 8px 12px;
                font-size: 16px;
                outline: none;
                border: 1px solid $grayDark;
                border-radius: 0.4rem;
                margin-bottom: 12px;
            }

            .button {
                padding: 16px;
                font-size: 16px;
                font-weight: 600;
                outline: none;
                border: none;
                border-radius: 0.4rem;
                background-color: $green;
                color: $white;
                margin-top: 12px;
                cursor: pointer;

                &:hover {
                    background-color: $greenDark;
                }
            }
        }
    }
}
