@use './variables/colors.scss' as *;
@use './variables/mixins.scss' as *;

.container {
    width: 100%;
    height: auto;
    padding: 0px 20px;

    .tabs {
        width: 100%;
        height: 72px;
        margin-bottom: 4px;
        @include flex(row, space-around, center);
        background-color: $white;

        .tabItem {
            width: 100%;
            height: 100%;
            @include flex(row, center, center);
            font-size: 14px;
            color: $grayMiddle;
            cursor: pointer;

            &:hover {
                background-color: $grayLight;
            }
        }
    }

    .general {
        width: 100%;
        height: auto;
        @include flex();

        .gallery {
            width: 40%;
            height: auto;
            padding: 16px;
            @include flex();
            background-color: $white;
            margin-bottom: 4px;

            .list {
                height: auto;
                @include flex(column, flex-start, center);

                .itemWrapper {
                    padding: 4px;
                    border: 1px solid $gray;
                    width: auto;
                    min-width: 52px;
                    max-height: 52px;
                    @include flex(row, center, center);

                    img {
                        width: auto;
                        height: 48px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }
            }

            .mainImage {
                width: 100%;
                height: 620px;
                @include flex(row, center);
                margin-top: 50px;

                img {
                    width: auto;
                    height: 480px;
                }
            }
        }

        .info {
            width: 60%;

            .infoMain {
                margin-left: 4px;
                margin-bottom: 4px;

                h1 {
                    font-size: 34px;
                    padding: 32px 32px 24px;
                    background-color: $white;
                    margin: 0px;
                }

                .block {
                    width: 100%;
                    padding: 0px 32px 32px;
                    background-color: $white;

                    .labels {
                        @include flex(row, flex-start, center, 12px);

                        .label {
                            position: relative;
                            @include flex(row, flex-start, center, 8px);
                            border: 1px solid $gray;
                            border-radius: 0.4rem;
                            padding: 3px 8px;
                            font-size: 12px;
                        }
                    }

                    .reviews {
                        margin-top: 16px;
                    }
                }
            }

            .infoBuy {
                padding: 32px 32px 22px;
                background-color: $white;
                margin-left: 4px;
                margin-bottom: 4px;

                .block {
                    @include flex(row, flex-start, center);

                    .price {
                        font-size: 34px;
                    }

                    .buttons {
                        margin-left: 20px;
                        flex: 1;

                        .buy {
                            padding: 20px 12px;
                            color: $white;
                            font-size: 16px;
                            background-color: $green;
                            border: none;
                            border-radius: 0.8rem;
                            margin-right: 12px;

                            &:hover {
                                cursor: pointer;
                                background-color: $orange;
                            }
                        }

                        .order {
                            padding: 20px 12px;
                            color: $green;
                            font-size: 16px;
                            background-color: $white;
                            border: 1px solid $green;
                            border-radius: 0.8rem;
                            margin-right: 12px;

                            &:hover {
                                cursor: pointer;
                                color: $orange;
                                border: 1px solid $orange;
                            }
                        }
                    }

                    .controlls {
                        @include flex(row, flex-start, center, 8px);

                        .img {
                            @include flex(row, center, center);
                            border: 1px solid $gray;
                            border-radius: 50%;
                            padding: 8px;
                            filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(90%) contrast(86%);
                        }
                    }
                }

                .bonus {
                    margin-top: 8px;
                    font-size: 12px;
                    @include flex(row, flex-start, center);

                    .pinted {
                        color: $orange;
                        margin-left: 4px;
                    }

                    img {
                        filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
                    }
                }
            }

            .infoCredit {
                padding: 32px;
                background-color: $white;
                margin-left: 4px;
                margin-bottom: 4px;

                .content {
                    @include flex(row, flex-start, center, 8px);

                    .item {
                        background-color: $grayLight;
                        padding: 8px;
                        border-radius: 0.4rem;
                    }
                }

                .btn {
                    border: none;
                    background-color: $blue;
                    color: $white;
                    font-size: 14px;
                    padding: 10px 16px;
                    border-radius: 0.4rem;
                    margin-top: 16px;
                    cursor: pointer;
                }
            }

            .infoAlternatives {
                margin-left: 4px;
                margin-bottom: 4px;
                padding: 32px;
                background-color: $white;

                .title {
                    font-size: 16px;
                    font-weight: 500;
                }

                .actions {
                    @include flex(row, flex-start, center, 20px);

                    .colors {
                        @include flex(row, flex-start, center, 4px);

                        .color {
                            width: 32px;
                            height: 32px;
                            border: 1px solid $gray;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }

                    .memory {
                        @include flex(row, flex-start, center, 4px);

                        .item {
                            border: 1px solid $orange;
                            border-radius: 0.4rem;
                            color: $orange;
                            font-size: 12px;
                            padding: 8px;
                        }
                    }
                }
            }

            .infoService {
                margin-left: 4px;
                margin-bottom: 4px;
                background-color: $white;
            }

            .infoAccessories {
                margin-left: 4px;
                margin-bottom: 4px;
                background-color: $white;
            }
        }
    }

    .features {
        width: 100%;
        height: auto;
        padding: 32px 24px;
        margin: 4px 0px;
        @include flex(column, flex-start, center);
        background-color: $white;

        .title {
            margin-top: 0px;
            margin-bottom: 32px;
            font-size: 34px;
        }

        .featureList {
            width: 80%;
            margin-left: 0;
            padding-left: 0;

            .featureItem {
                list-style-type: none;
                padding: 24px 16px;
                @include flex(row, space-between, center);

                &.withBg {
                    background-color: $bgFeatureItem;
                }

                .featureName {
                    flex: 1;
                }

                b {
                    margin-right: 12px;
                }
            }
        }

        .showMoreBtn {
            width: 300px;
            height: 64px;
            align-self: center;
            @include flex(row, center, center, 8px);
            font-size: 14px;
            background-color: $white;
            border: 1px solid $gray;
            border-radius: 0.8rem;
            cursor: pointer;

            &:hover {
                background-color: $grayLight;
            }
        }
    }

    .description {
        width: 100%;
        height: auto;
        padding: 32px 24px;
        margin: 4px 0px;
        background-color: $white;
        @include flex(column, flex-start, center);

        .title {
            margin-top: 0px;
            margin-bottom: 32px;
            font-size: 34px;
        }
    }

    .review {
        width: 100%;
        height: auto;
        padding: 32px 24px;
        margin: 4px 0px;
        background-color: $white;
        @include flex(column, flex-start, center);

        .title {
            margin-top: 0px;
            margin-bottom: 32px;
            font-size: 34px;
        }

        .showMoreBtn {
            width: 300px;
            height: 64px;
            align-self: center;
            @include flex(row, center, center, 8px);
            font-size: 14px;
            background-color: $white;
            border: 1px solid $gray;
            border-radius: 0.8rem;
            cursor: pointer;

            &:hover {
                background-color: $grayLight;
            }
        }
    }

    .photos {
        width: 100%;
        height: auto;
        padding: 32px 24px;
        margin: 4px 0px;
        background-color: $white;
        @include flex(column, flex-start, center);

        .title {
            margin-top: 0px;
            margin-bottom: 32px;
            font-size: 34px;
        }
    }

    .reviewsContainer {
        padding: 32px 48px;
        margin-bottom: 4px;
        background-color: $white;

        h3 {
            font-size: 34px;
            margin-top: 0px;
        }

        .reviews {
            width: 70%;
            @include flex(column, flex-start);

            .attention {
                padding: 16px 24px;
                border-radius: 0.8rem;
                background-color: $grayLight;
                margin: 0px 0px 24px;
                @include flex(row, space-between, center);

                span {
                    font-size: 20px;
                    color: $grayDark;
                }

                button {
                    padding: 12px 48px;
                    border-radius: 0.8rem;
                    color: $white;
                    font-weight: 600;
                    font-size: 14px;
                    outline: none;
                    border: none;
                    background-color: $orange;
                    margin-left: 12px;
                    cursor: pointer;
                }
            }

            .controlls{
                width: 100%;
                @include flex(row, center, center, 8px);

                .input {
                    width: 100%;
                    padding: 20px;
                    font-size: 16px;
                    outline: none;
                    border: 2px solid $grayLight;
                    border-radius: 0.4rem;

                    &:focus {
                        border: 2px solid $gray;
                    }
                }

                .button {
                    height: 60px;
                    outline: none;
                    border: none;
                    border-radius: 0.4rem;
                    background-color: $green;
                    padding: 0px 20px;
                    color: $white;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                        background-color: $orange;
                    }
                }
            }

            .review {
                width: 100%;
                padding: 24px;
                border: 1px solid $gray;
                border-radius: 0.8rem;

                .reviewHeader {
                    width: 100%;
                    @include flex(row, space-between, center);

                    .name {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }

                .reviewText {
                    font-size: 14px;
                    line-height: 1.5;
                }

                .reviewActions {
                    width: 100%;
                    @include flex(row, space-between, center);
                }
            }
        }
    }
}