@use './variables/colors.scss' as *;
@use './variables/mixins.scss' as *;

.container {
    width: 100%;
    height: auto;
    padding: 0px 24px 24px;

    .header {
        width: 100%;
        margin-left: 16px;
        @include flex(row, flex-start, center, 24px);

        h3 {
            font-size: 24px;
            font-weight: 500;
        }

        .more {
            @include flex(row, flex-start, center, 8px);
            color: $orange;

            img {
                filter: invert(52%) sepia(73%) saturate(3057%) hue-rotate(345deg);
                transform: rotate(90deg);
            }
        }
    }

    .body {
        width: 100%;
        height: auto;

        .cardContainer {
            max-width: 20%;
            @include flex();
        }
    }
}