@use  './variables/colors.scss' as *;

.container {
    width: calc(100% - 320px);
    margin-left: 320px;
    padding: 6px 20px 6px 6px;

    .top {
        display: flex;
        align-items: center;
        column-gap: 8px;

        .topItem {
            padding: 8px;
            background-color: $white;
            color: $blackLight;
            display: flex;
            align-items: center;
            border-radius: 16px;
            flex: 1;

            p {
                font-size: 16px;
                margin-left: 16px;
            }

            &:hover {
                background-color: $bgHoverSliderTop;
            }
        }
    }

    .slider{}

    .logoBrands{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $white;
        margin-top: 6px;
        padding: 14px 0px;

        .logoItem {
            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
