$white: #FFFFFF;

$black: #000000;
$blackLight: #313131;

$gray: #CCCCCC;
$grayLight: #F2F2F2;
$grayMiddle: #999999;
$grayDark: #616161;
$grayAlt: #c4c4c4;

$green: #43B02A;
$greenLight: #57BA41;
$greenMiddle: #3BA724;
$greenDark: #379424;

$orange: #FF671F;
$orangeLight: #FDAE55;
$orangeDark: #E25C1D;

$red: #FF090B;

$blue: #0101EF;

$bgHoverSliderTop: #E8E7E7;
$bgFeatureItem: #F7FAFD;
