$white: #FFFFFF;
$whiteDark: #F2F2F2;

$black: #000000;

$grayDark: #616161;
$grayMiddle: #999999;

$green: #43B02A;
$greenLight: #57BA41;
$greenMiddle: #3BA724;
$greenDark: #379424;

$orange: #FF671F;
$orangeLight: #FDAE55;
$orangeDark: #E25C1D;

$red: #FF090B;
